[submodule "subsonic"]
	path = subsonic
	url = https://github.com/crichon/docker-subsonic.git
[submodule "shaarli"]
	path = shaarli
	url = https://github.com/crichon/docker-shaarli.git
[submodule "selfoss"]
	path = selfoss
	url = https://github.com/crichon/docker-selfoss.git
